.assign-parent {
    display: flex;
    min-height: calc(100vh - 70px);
    overflow-y: hidden;
  }
  
  .assign-child {
    width: calc(100% - 7em);
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #212529;
    color: #fff;
    padding: 30px;
  }
  
  .mentor-list,
  .student-list {
    background: #212529;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 25px;
  }
  