.editdetails-parent {
  display: flex;
  min-height: calc(100vh - 70px);
  overflow-y: hidden;
}

.editdetails-child {
  width: calc(100% - 7em);
  background-color: #212529;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
}

.btn1 {
  display: block !important;
}

form {
  width: 600px;
}
